body {
  margin: 0;
  background-color: #ea8400;
}


.section  {
  perspective: 1000px;
}
.container {
  width: 680px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 1s;
  transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);
  transform-style: preserve-3d;
}
.container-origin {
  transform: rotate(0);
}
img {
  max-width: 100%;
}
.card {
  width: 400px;
  margin: 10px 10px 10px 0px;
  transition: 0.3s;
}
.card:hover {
  cursor: pointer;
  transform: translateZ(10px) translateY(10px);
}