<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>
        RRM Main Control Page
    </title>
    <h1>RRM control</h1>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(function() {
            $('button').click(function() {
                $.get('calculation.html', function(data) {
                    $('#announcementdiv').html(data['Hello']);
                });
            });
        });
    </script>
</head>
<body>
    <form action ="" method="POST">
        <div>
            <div>
                <input type="text" name="termAdd" placeholder="Terminal Number to Add" >
            </div>
            <div >
                <input type="text" name="symbolRateadd" placeholder="Symbol Rate" >
            </div>
            <div >
                <input type="text" name="connectedTerm" placeholder="Connected Terminal ID " >
            </div>
            <div >
                <input type="text" name="Hub" placeholder="Hub? [True/False]" >
            </div>
            <div >
                <input type="text" name="P1dB" placeholder="P1dB power" >
            </div>
            <div >
                <input type="text" name="CurrentPower" placeholder="Current Power">
            </div>
            <div ><input type = "submit" value = "Submit" /></div>

        </div>
        {% if result %}
        <p>
            <label name='result'>terminal added: {{ result }}</label>
        </p>
        {% endif %}
        {% if error %}
        <p>
        <label name="error">{{ error }}</label>
        </p>
        {% endif %}
        <div>
            <p>
                <label name="DeleteHandle">Delete Handle</label>
            </p>
            <div>
                <input type="text" name="termDel" placeholder="Terminal ID to delete">
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>

        </div>
        <div>
            <p>
                <label name="UpdateHandle">Update Handle</label>
            </p>
            <div>
                <input type="text" name="termIDChange" placeholder="Terminal ID to change">
            </div>
            <div>
                <input type="text" name="termSRChange" placeholder="new SR [Msps]">
            </div>
            <div>
                <input type="text" name="termFreqChange" placeholder="new Freq [MHz]">
            </div>
            <div>
                <input type="text" name="termP1dBChange" placeholder="new P1dB [Msps]">
            </div>

            <input type="submit" value="Submit">
        </div>
        <div>
            <p>
                <label>
                    Frequency Manager Control
                </label>
            </p>
        </div>
        <div>
            <input type="text" name="FreqManager" placeholder="Freq Manager New [Yes/No]">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
        <div class="b">
            <h2>
                Terminal Stats
            </h2>
              <table class="a">
                  <thead>
                      <tr>
                            <th>ID</th>
                            {% for key in stats[0].iteritems() %}
                             <th>{{ key[0] }}</th>
                            {% endfor %}

                      </tr>
                  </thead>






                  <div >
                      <input type="button" value="refresh">
                  <tbody id="announcementdiv">
                    {% for term in stats %}
                    <tr >
                        <td>{{ term }}</td>
                        {% for key, value in stats[term].iteritems() %}
                            <td>{{value }}</td>
                        {% endfor %}
                    {% endfor %}
                    </tr>
                  </tbody>
                  </div>
              </table>
        </div>
    </form>
</body>
