<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>json expirement</title>
</head>
<body>

    <p>Hello, <span id="username"></span></p>
<script>
    var status = JSON.parse('{{ status | tojson | safe}}');
    document.getElementById('username').innerHTML = status.counter + " " +
            status.counter ;

  </script>
    </script type="text/javascript">
    function update_values() {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/_stuff",
                function(data) {
                    $("#cpuload").text(data.cpu+" %")
                    $("#ram").text(data.ram+" %")
                    $("#disk").text(data.disk+" %")
                });
        }

    </script>
</body>
</html>